<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src * 'unsafe-inline'; media-src * data: content: blob:; img-src * data: content: blob:;">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/start.css">
  <script src="js/methods_bootstrap.js"></script>
  <script src="js/components_bootstrap.js"></script>
  <script src="js/components_utils.js"></script>
  <script src="js/vue_utils.js"></script>
  <script src="js/gql_utils.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vconsole/dist/vconsole.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siiimple-toast/dist/style.css">
  <script src="https://cdn.jsdelivr.net/npm/siiimple-toast/dist/siiimple-toast.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>

  <title>ピクトグラム</title>
</head>
<body>
    <div id="top" class="container">
      <button class="btn btn-default pull-right" v-on:click="snap_shot">スナップショット</button>
      <button v-if="!recording" class="btn btn-default pull-right" v-on:click="record_start">録画開始</button>
      <button v-if="recording" class="btn btn-default pull-right" v-on:click="record_stop">◎録画終了</button>

      <ul class="nav nav-tabs">
        <li class="active"><a class="nav-link" href="#pictogram" data-toggle="tab">ピクトグラム</a></li>
        <li><a class="nav-link" href="#snapshots" data-toggle="tab">撮影画像</a></li>
      </ul>
      <br>

      <div class="tab-content">
        <div id="pictogram" class="tab-pane fade in active">
          <canvas class="img-thumbnail" id="output_canvas" v-bind:width="view_width" v-bind:height="view_height" v-on:mousedown="snap_shot"></canvas><br>
          <video id="input_video" width="320" height="180" style="transform: scale(-1, 1);"></video>
        </div>

        <div id="snapshots" class="tab-pane fade">
          <div class="row">
            <div class="col-xs-4" v-for="(item, index) in snapshots">
              <div class="panel panel-default">
                <div class="panel-heading">{{index + 1}}
                  <span v-if="item.type.startsWith('image')">静止画</span>
                  <span v-if="item.type.startsWith('video')">動画</span>
                </div>
                <div class="panel-body">
                  <img v-if="item.type.startsWith('image')" class="img-thumbnail" v-bind:src="item.data" width="320" height="180">
                  <video v-if="item.type.startsWith('video')" class="img-thumbnail" v-bind:src="item.data" width="320" height="180" controls>
                </div>
                <div class="panel-footer">
                  <button class="btn btn-default" v-on:click="snap_save(item)">保存</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        <!-- for progress-dialog -->
        <progress-dialog v-bind:title="progress_title"></progress-dialog>
    </div>

    <script src="js/start.js"></script>
</body>
